@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Introduction</h1>
    <div class="text-left">
        <span style="font-size:24px;">
            <br>
            During the late Covid-19 pandemic, people are gradually looking to reinvigorate the economy and travel activities by vaccinating widely.
            <br>
            <br>
            However, can you guarantee your human safety and property even if you get the vaccine?
            <br>
            <br>
            And, are you sure you can go anywhere and do what you want?
            <br>
            <br>
            Use "Can I go" before you plan your new trip!
        </span>
    </div>        
</div>
