@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">專案簡述</h1>
    <div class="text-left">
        <span>
            在這個疫苗日漸普及的後疫情時代， <br>
            你/妳真的確定你/妳打的疫苗有效嗎? <br>
            你/妳真以為打完疫苗就可以到處暢行無阻? <br>
            「CN I GO?」「中文:窩可以去ㄇ?」是一款結合即時公開疫情資訊、國內外最新疫苗研究數據和尖端生醫光學研究成果的「個人染疫風險評估APP」開源專案。除了讓每個人都能得到專屬個人的風險評估外，還可以解決疫情期間的焦慮感喔!<br>
            <br>
            <br>
            我們打算基於團隊在生物感測器與資訊技術的研究背景，將個人身體資料加入染疫風險的評估，並提供多種的個體保護力計算方案。<br>
            使用者可透過以下方式得到個體保護力數據：<br>
            1. 在使用者介面中輸入年齡、生理性別、施打疫苗類別與劑數及接種日期等資訊。<br>
            2. 輸入已知中和抗體數值。<br>
            3. 透過行動裝置拍攝中和抗體試片，並藉由本團隊開發之影像演算法和中和抗體資料庫計算出中和抗體值。<br>
            <br>
            接著，藉由世界衛生組織以及各地方政府提供之該地區疫情資料庫，透過演算法得知該個體保護力數據和各地區的對應風險指標，進而提供使用者在旅程風險評估規劃上的參考資訊。<br>
            <br>
            為強化本專案之功能廣泛性及前瞻性，除了提供一般使用者做風險管理評估之外，亦可與國家相關單位合作進行地區風險管理評估、制定相關場域活動限制…等，或是在未來強化部分功能來因應市場需求如：醫療、生醫、金融保險…等產業進行合作，共同建構人類福祉。<br>
            <br>

            在這個疫苗日漸普及的後疫情時代，<br>
            你/妳真的確定你/妳打的疫苗有效嗎?<br>
            你/妳真以為打完疫苗就可以到處暢行無阻?<br>
            「CN I GO?」「中文:窩可以去ㄇ?」是一款結合即時公開疫情資訊、國內外最新疫苗研究數據和尖端生醫光學研究成果的「個人染疫風險評估APP」，解決每個人的疫情焦慮。<br>
            <br>
            我們打算基於團隊在生物感測器的研究背景，將個人身體資料加入染疫風險的評估計算，並提供多種的個體保護力計算方案。<br>
            使用者可透過以下方式得到個體保護力數據：<br>
            1. 在使用者介面中輸入年齡、生理性別、施打疫苗類別與劑數及接種日期等資訊。<br>
            2.輸入已知中和抗體數值。<br>
            3. 透過行動裝置拍攝中和抗體試片，並藉由本團隊開發之影像演算法和中和抗體資料庫計算出中和抗體值…<br>
            <br>
            接著，藉由世界衛生組織以及各地方政府提供之該地區疫情資料庫，透過演算法得知該個體保護力數據和各地區的對應風險指標，進而提供使用者在旅程風險評估規劃上的參考資訊。<br>
            <br>
            <br>
            為強化本專案之功能廣泛性及前瞻性，除了提供一般使用者做風險管理評估之外，亦可與國家相關單位合作進行地區風險管理評估、制定相關場域活動限制…等，或是在未來強化部分功能來因應市場需求如：醫療、生醫、金融保險…等產業進行合作，共同建構人類福祉。<br>
            <br>
            <br>
        </span>
    </div>        
</div>
